@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 207 0% 90%;
    --foreground: 207 0% 10%;
    --card: 207 0% 95%;
    --card-foreground: 207 0% 15%;
    --popover: 207 0% 95%;
    --popover-foreground: 207 95% 10%;
    --primary: 207 79% 24%;
    --primary-foreground: 0 0% 100%;
    --secondary: 207 10% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 207 35% 80%;
    --muted-foreground: 207 0% 35%;
    --accent: 207 35% 80%;
    --accent-foreground: 207 0% 15%;
    --destructive: 0 50% 31%;
    --destructive-foreground: 207 0% 90%;
    --border: 207 20% 50%;
    --input: 207 20% 31%;
    --ring: 207 79% 24%;
    --radius: 1rem;
  }
  .dark {
    --background: 207 0% 10%;
    --foreground: 207 0% 90%;
    --card: 207 10% 10%;
    --card-foreground: 207 0% 90%;
    --popover: 207 10% 5%;
    --popover-foreground: 207 0% 90%;
    --primary: 207 79% 24%;
    --primary-foreground: 0 0% 100%;
    --secondary: 207 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 207 20% 40%;
    --muted-foreground: 207 0% 60%;
    --accent: 207 20% 40%;
    --accent-foreground: 207 0% 90%;
    --destructive: 0 50% 31%;
    --destructive-foreground: 207 0% 90%;
    --border: 207 20% 31%;
    --input: 207 20% 31%;
    --ring: 207 79% 24%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  ::-webkit-scrollbar {
    @apply size-1;
  }
  ::-webkit-scrollbar-track {
    @apply bg-foreground/10 rounded-full;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-foreground/50 rounded-full;
  }
}
